---
import { ViewTransitions } from 'astro:transitions';
import Crisp from '../components/Crisp.tsx';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro React Layout</title>
	</head>
	<body>
		<ViewTransitions />
		<nav>
			<a href="/">home</a>
			<a href="/example2/page1">page 1</a>
			<a href="/example2/page2">page 2</a>
		</nav>
		<slot />
		<Crisp client:only="react" />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>


